body {
	font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
	background: #eee;
}

h1,
h3 {
	margin: 0;
	padding: 1em;
}

h1 {
	background: #000;
	color: #aaa;
	margin: 0;
	padding: 1em;
}

h3 {
	background: #555;
	color: #fff;
	border-bottom: 1px solid #cacaca;
}

h3:last-of-type {
	border-top: 1px solid #cacaca;
}

a {
	color: #00b7ff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #fbfbfb;
}

ul#network-list {
	border-bottom: 1px solid #999999;
}

ul#index-list li {
	padding-bottom: 0;
}

ul#index-list li label {
	min-width: 20em;
	display: inline-block;
}

input[type='text'] {
	width: 30em;
	padding: 0.3em;
	text-align: center;
}
input[type='text'].clash {
	border: 1px solid red;
	background: #ffb4b4;
}

li {
	padding-bottom: 0.7em;
}

li:first-child {
	padding-top: 2em;
}

ul#index-list li:last-child,
li:last-child {
	padding-bottom: 2em;
}

button {
	margin: 2em;
}

.custom-checkbox {
	display: initial;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-width: 0;
}
.custom-checkbox-retina {
	display: inline-block;
}
.custom-checkbox-disabled {
	cursor: default;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	background-color: #fff;
	padding: 1px 7px 2px;
	border: 1px solid grey;
	border-color: #d8d8d8 #d1d1d1 #bababa;
	border-radius: 0.3em;
	color: #333;
	font-size: 11px;
}

.custom-checkbox input:checked ~ .checkmark {
	background-color: #419bf9;
	color: #fff;
	border-color: #7e7e7e #6b6b6b #4f4f4f;
}
